/*
Colors used:
Primary Color   (Yellow): #FFDB1F;
                (Blue): #009FFD;
                (Blue 2): #66D1FF;
                (Pink): #FA4C98;
Secondary Color (Purple): #471852;
                (Black): #000000;
*/
* {
  box-sizing: border-box;
}

/* typography */
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.7;
  color: #000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

/* images */
img {
  width: 100%;
}

/* hyperlink */
a,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: underline;
}

a:active {
  color: #000;
}

/* Layout styling */
header {
  background-color: #fff;
  padding-bottom: 4px;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  transition: top 0.3s ease-out;
}

nav > ul {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

nav > ul > li > a,
nav > ul > li > a:visited {
  padding: 0;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 300;
  color: #000;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #000;
}

nav > ul > li > a:active {
  color: #000;
}

/* hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: -1px;
  font-size: 22px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
  margin: 10px 10px 0 0;
  transition: 0.2s;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.nav-up {
  top: -220px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.logo {
  max-width: 220px;
  margin-top: 12px;
}

#header .logo a {
  padding: 0;
  margin: 0;
}

.section {
  padding: 20px 0;
}

.container {
  padding: 0 15px;
}

.center {
  display: block;
  margin: auto;
}

.caption {
  text-align: center;
}

.phone {
  white-space: nowrap;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu h3 {
  margin: 10px;
}

main {
  margin-top: 37.75px;
}

#back-up-button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #fff;
  opacity: 70%;
  color: #000;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  padding: 15px;
}

#back-up-button:hover {
  background-color: #000;
  color: #fff;
}

#back-up-button a,
#back-up-button a:visited {
  color: #000;
  font-weight: 700;
}

#back-up-button a:hover {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

/* ------------ Footer ------------ */
footer {
  text-align: center;
  position: relative;
  width: 100%;
}

#contact {
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#contact svg {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ------------ Index ------------ */

#hero {
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
  margin-top: 10px;
}

#work .row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

#work img {
  display: inline-block;
  max-width: 250px;
}

#work h3 {
  margin-top: 2px;
  margin-bottom: 0;
}

#work p {
  margin-top: 0;
  margin-bottom: 0;
}

#work svg {
  width: 100%;
  max-width: 250px;
  height: auto;
}

#work .column a,
#work .column a:hover,
#work .column a:active,
#work .column a:focus {
  text-decoration: none;
}

/* css animation */
@keyframes color-change {
  from { fill: #fa4c98; }
  to { fill: #009ffd; }
}

.eyelash {
  animation: 2s color-change infinite alternate linear;
}

@keyframes circle-small-move {
  from { transform: translate(11px, 80px); }
  to { transform: translate(11px, -25px); }
}

.yellow-circle-back-small {
  animation: 400ms circle-small-move infinite alternate ease-out;
}

@keyframes circle-move-reverse {
  from { transform: translate(48px, 25px); }
  to { transform: translate(-68px, 25px); }
}

.yellow-circle-front {
  animation: 800ms circle-move-reverse infinite alternate ease-out;
}

/* ------------ About ------------  */
#about-me {
  padding-top: 20px;
}

.profile-pic {
  text-align: center;
  padding: 40px 0;
}

#about-me h1 {
  text-align: center;
}

#about-me img {
  max-width: 300px;
}

#about-me span {
  display: block;
  margin-top: 10px;
}

#about li::marker {
  color: #fa4c98;
}

#about li {
  margin-left: -20px;
  padding-left: 10px;
}

#about .container .header {
  margin-top: 40px;
}

/* ------------ Flashback ------------ */
#flashback h1,
#flashback h2 {
  background: -webkit-linear-gradient(#ffdb1f, #fa4c98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#flashback h3:not(footer h3):not(#fb-intro h3) {
  background: -webkit-linear-gradient(#fa4c98, #66d1ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fb-intro svg {
  max-width: 200px;
  height: auto;
  overflow: visible;
  margin-bottom: 20px;
}

/* animation */
@keyframes flash-move {
  from { transform: translate(-180px, 0); }
  to { transform: translate(0, 0); }
}

.flash-pink {
  animation: 700ms flash-move ease-out;
}

@keyframes back-move {
  from { transform: translate(180px, 0); }
  to { transform: translate(0, 0); }
}

.back-blue {
  animation: 700ms back-move ease-in;
}

#fb-intro {
  padding-top: 20px;
}

#fb-intro {
  text-align: center;
  background-color: #361d42;
  width: 100%;
}

#fb-intro img {
  display: inline-block;
  max-width: 500px;
  margin: 10px 0;
}

#fb-intro ul > li > a,
#fb-intro a:visited {
  text-transform: uppercase;
  font-weight: 700;
  color: #ff71cb;
}

#fb-intro ul > li > a:hover,
#fb-intro ul > li > a:focus {
  color: #66d1ff;
  text-shadow: 3px 3px #000;
  text-decoration: none;
}

#fb-intro ul > li > a:active {
  color: #ff71cb;
  text-decoration: none;
}

#fb-intro .mockup img {
  display: inline-block;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 60px;
}

#fb-challenge {
  display: inline-block;
  width: 100%;
}

#fb-process {
  display: inline-block;
  background-color: #361d42;
  width: 100%;
}

#fb-process,
#fb-inspiration,
#fb-competitive,
#fb-retrospective p {
  color: #fff;
}

#fb-process img {
  max-width: 900px;
  margin: 20px 0;
}

#fb-process .row {
  display: inline-block;
  width: 100%;
}

#fb-competitive {
  display: inline-block;
  background-color: #361d42;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fb-competitive li {
  color: #fff;
}

#fb-competitive img {
  max-width: 900px;
  margin: 20px 0;
}

#fb-wireframes {
  display: inline-block;
  width: 100%;
}

#fb-wireframes img {
  display: inline-block;
}

#fb-wireframes .row .wireframes img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 90%;
}

#fb-inspiration {
  display: inline-block;
  background-color: #361d42;
  width: 100%;
}

#fb-inspiration img {
  display: inline-block;
  max-width: 900px;
  margin: 20px 0;
}

#fb-icons img {
  max-width: 700px;
}

.final-designs {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.final-designs img {
  display: inline-block;
  max-width: 700px;
  margin-bottom: 20px;
}

.final-designs {
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

#fb-retrospective {
  display: inline-block;
  background-color: #361d42;
  width: 100%;
  padding-top: 20px;
}

#fb-retrospective img {
  display: inline-block;
  max-width: 700px;
  margin-top: -20px;
  position: relative;
  bottom: -30px;
}

#fb-retrospective img {
  display: inline-block;
  max-width: 700px;
  margin-top: -20px;
  position: relative;
  bottom: -20px;
}

/* ------------ Bazaar ------------ */

/* animation */
@keyframes heart-move {
  from { transform: translate(0, 130px); }
  to { transform: translate(0, 0); }
}

.heart {
  animation: 1s heart-move ease-in;
}

#bz-intro .container {
  text-align: center;
}

#bz-intro svg {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

#bz-intro img {
  position: relative;
  bottom: -28px;
  margin-bottom: 0;
}

#bz-menu {
  display: inline-block;
  text-align: center;
  background-color: #fdca40;
  width: 100%;
}

#bz-menu ul > li > a,
#bz-menu ul > li > a:visited {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

#bz-menu ul > li > a:hover,
#bz-menu ul > li > a:focus,
#bz-menu ul > li > a:active {
  color: #fff;
  text-shadow: 3px 3px #000;
  text-decoration: none;
}

#bz-menu ul > li > a:active {
  color: #fff;
  text-shadow: 3px 3px #000;
}

#bz-challenge a,
#bz-challenge a:visited,
#bz-final-designs a,
#bz-final-designs a:visited {
  color: #000;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: underline;
}

#bz-challenge img,
#bz-user-flow img,
#bz-native img,
#bz-testing img {
  margin: 20px 0;
}

#bz-process {
  background-color: #fdca40;
  width: 100%;
}

#bz-testing {
  background-color: #fdca40;
  width: 100%;
}

#bz-testing .iteration {
  position: relative;
  bottom: -48px;
  margin-top: -60px;
}

#bz-style-guide .guide img {
  width: 85%;
  margin-top: 40px;
}

#bz-final-designs {
  background-color: #fdca40;
}

.margin-top {
  margin-top: 40px;
}

#bz-retrospective img {
  margin-top: 20px;
}

/* ------------ Pennywise ------------ */
#pw-intro {
  display: inline-block;
  text-align: center;
  background-color: #232041;
  width: 100%;
}

#pw-menu ul > li > a,
#pw-menu a:visited {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffc153;
}

#pw-menu ul > li > a:hover,
#pw-menu ul > li > a:focus,
#pw-menu ul > li > a:active {
  color: #fff;
  text-shadow: 3px 3px #000;
  text-decoration: none;
}

#pw-menu ul > li > a:active {
  color: #fff;
}

#pw-process,
#pw-user-testing,
#pw-responsive,
#pw-retrospective {
  display: inline-block;
  background-color: #232041;
  width: 100%;
}

#pw-objective h3,
#pw-user-story h3,
#pw-final-designs h3 {
  color: #754eb7;
}

#pw-process h3,
#pw-user-testing h3,
#pw-responsive h3,
#pw-retrospective h3 {
  color: #ffc153;
}

#pw-process p,
#pw-user-testing p,
#pw-responsive p,
#pw-retrospective p {
  color: #fff;
}

#pw-objective a,
#pw-objective a:visited,
#pw-final-designs a,
#pw-final-designs a:visited {
  color: #754eb7;
  text-decoration: none;
}

#pw-process img {
  margin: 40px 0 20px;
}

#pw-user-story .container .high-fid {
  margin-top: 20px;
}

#pw-user-story img {
  margin-bottom: 10px;
}

#pw-user-testing .row {
  display: inline-block;
  text-align: center;
}

#pw-user-testing img {
  width: 70%;
  margin-bottom: 20px;
}

#pw-user-testing .caption {
  display: inline-block;
  text-align: center;
  width: 70%;
}

#pw-responsive img {
  margin-top: 20px;
}

#pw-final-designs .final {
  position: relative;
  bottom: -28px;
  margin-bottom: 0;
}

/* ------------ Let Them Eat Cake! ------------ */
#ltec-intro {
  display: inline-block;
  text-align: center;
  background-color: #ffe79e;
  width: 100%;
}

#ltec-intro ul > li > a,
#ltec-intro a:visited {
  text-transform: uppercase;
  font-weight: 700;
  color: #fa4c98;
}

#ltec-intro ul > li > a:hover,
#ltec-intro ul > li > a:focus {
  color: #7bd4d2;
  text-shadow: 3px 3px #000;
  text-decoration: none;
}

#ltec-intro ul > li > a:active {
  color: #7bd4d2;
  text-shadow: 3px 3px #000;
  text-decoration: none;
}

#ltec-process,
#ltec-moodboard,
#ltec-responsive {
  display: inline-block;
  background-color: #ffe79e;
  width: 100%;
}

#ltec .menu {
  margin-top: 40px;
}

#ltec-challenge img {
  margin-bottom: 20px;
}

#ltec-process img {
  margin: 40px 0;
}

#ltec-process .column img {
  display: block;
  margin: 40px auto 10px;
  width: 70%;
}

#ltec-process .column p {
  display: inline-block;
  text-align: center;
}

#ltec-wireframes img {
  margin: 20px 0;
}

#ltec-moodboard img,
#ltec-ui-elements img,
#ltec-responsive img,
#ltec-retrospective img {
  margin: 40px 0 20px;
}

#ltec-ui-elements .icons {
  margin-top: 40px;
}

/* ============================================================
                Medium devices (640px and larger)
=============================================================== */
@media only screen and (min-width: 640px) {
  main {
    margin-top: 57px;
  }

  body {
    font-size: 18px;
    font-weight: 200;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.1;
  }

  h1 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h2 {
    font-size: 2em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h4 {
    font-size: 1em;
    font-weight: 700;
  }

  nav {
    width: auto;
  }

  nav > ul > li {
    display: inline-block;
    margin-bottom: 4px;
    min-width: 100px;
  }

  nav > ul > li > a,
  a:visited {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 200;
    color: #000;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .nav-up {
    top: -100px;
  }

  .section {
    padding: 20px 0;
  }

  .container {
    padding: 0 30px;
  }

  header {
    padding-top: 15px;
    padding-bottom: 8px;
  }

  header .navtoggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 250px;
    margin-top: 0;
  }

  #back-up-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-weight: 300;
    cursor: pointer;
    padding: 20px;
  }

  #back-up-button:hover {
    background-color: #000;
    color: #fff;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .menu ul > li {
    display: inline-block;
    text-align: center;
  }

  .menu h3 {
    display: inline-block;
    margin: 10px;
  }

  /* ------------ Index ------------ */
  #work .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #work .row .column {
    width: 48%;
    align-items: center;
    margin-bottom: 3em;
    text-align: center;
    justify-content: flex-start;
  }

  /* ------------ About ------------ */
  #about h3:not(#contact h3) {
    margin-top: 0;
  }

  #about-me img {
    max-width: 300px;
    padding: 0;
  }

  #about .col-md-12 {
    width: 100%;
  }

  #about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  #about .row .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  /* ------------ Flashback ------------ */
  #fb-intro {
    padding-top: 20px;
  }

  /* animation */
  @keyframes flash-move {
    from { transform: translate(-300px, 0); }
    to { transform: translate(0, 0); }
  }

  .flash-pink {
    animation: 700ms flash-move ease-out;
  }

  @keyframes back-move {
    from { transform: translate(300px, 0); }
    to { transform: translate(0, 0); }
  }

  .back-blue {
    animation: 700ms back-move ease-in;
  }

  #fb-intro .row {
    display: inline-block;
    text-align: center;
  }

  #fb-intro svg {
    max-width: 400px;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #fb-intro img {
    margin-bottom: 40px;
  }

  #fb-challenge .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  #fb-process p {
    margin-top: 40px;
  }

  #fb-competitive .row,
  #fb-inspiration .row,
  #fb-retrospective .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #fb-wireframes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #fb-wireframes .wireframes picture {
    margin: 0 9px;
  }

  /* ------------ Bazaar ------------ */
  #bz-intro .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  #bz-intro svg {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  #bz-intro img {
    position: relative;
    bottom: -29px;
    right: -30px;
    margin-bottom: 0;
  }

  #bz-process img {
    margin: 20px 0;
  }

  #bz-challenge .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  #bz-user-flow .col-md-12 {
    width: 100%;
  }

  #bz-user-flow .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  #bz-native .native {
    position: relative;
    right: -15px;
  }

  #bz-user-flow .col-md-12 {
    width: 100%;
  }

  #bz-testing .col-md-12 {
    width: 100%;
  }

  #bz-testing .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  #bz-testing .iteration {
    position: relative;
    bottom: -49px;
    margin-top: -90px;
  }

  #bz-style-guide .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #bz-style-guide .guide img {
    margin-top: 0;
  }

  #bz-retrospective .col-md-12 {
    width: 100%;
  }

  #bz-retrospective .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  #bz-retrospective img {
    width: 70%;
    position: relative;
    left: 90px;
  }

  /* ------------ Pennywise ------------ */
  #pw-intro img {
    width: 80%;
  }

  #pw-objective .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  #pw-process .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #pw-process .branding {
    display: inline-block;
    text-align: center;
  }

  #pw-process img {
    padding: 40px 0;
  }

  #pw-user-story .container .high-fid {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
  }

  #pw-user-story .high-fid img {
    width: 80%;
  }

  #pw-user-testing .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  #pw-user-testing .row .column {
    width: 48%;
    align-items: center;
    margin-bottom: 3em;
    text-align: center;
  }

  #pw-user-testing .caption {
    display: inline-block;
    text-align: center;
    width: 90%;
  }

  #pw-final-designs .final-designs {
    margin-top: 60px;
  }

  #pw-final-designs .final {
    bottom: -29px;
  }

  #pw-retrospective img {
    margin: 40px 0;
    padding: 0 80px;
  }

  /* ------------ Let Them Eat Cake! ------------ */
  #ltec-challenge .row,
  #ltec-wireframes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }





}

/* ============================================================
                Large devices (1024px or larger)
=============================================================== */
@media only screen and (min-width: 1024px) {
  main {
    margin-top: 57px;
  }

  .section {
    padding: 40px 0;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .phone,
  .phone:visited {
    color: #000;
    text-decoration: underline;
  }

  .phone:hover,
  .phone:focus {
    color: #000;
    text-decoration: underline;
  }

  .logo {
    max-width: 250px;
    margin-top: 0;
  }

  .margin-left {
    margin-left: 30px;
  }

  .margin-right {
    margin-right: 30px;
  }

  .intro {
    width: 65%;
  }

  nav > ul > li > a,
  a:visited {
    padding: 0;
    font-size: 18px;
    font-weight: 200;
    color: #000;
  }

  /* nav animation */
  header div.container a {
    text-decoration: none;
    color: #000;
    margin: 0;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }

  .navigation a::before,
  .navigation a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  .navigation a::before {
    top: 0;
    transform: translateX(-30px);
  }

  .navigation a::after {
    bottom: 0;
    transform: translateX(30px);
  }

  .navigation a:hover::before,
  .navigation a:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  /* index */
  #hero p {
    margin-bottom: 40px;
  }

  #work .row .column {
    width: 30%;
    align-items: center;
    margin-bottom: 3em;
    text-align: center;
    justify-content: flex-start;
  }

  /* about */
  #about-me h1 {
    margin-top: 80px;
  }

  #about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #about .row .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 0;
  }

  #about .col-lg-7 {
    width: 58%;
  }

  #about .col-lg-5 {
    width: 42%;
  }

  /* ------------ Flashback ------------ */

  /* animation */
  @keyframes flash-move {
    from { transform: translate(-700px, 0); }
    to { transform: translate(0, 0); }
  }

  .flash-pink {
    animation: 1s flash-move ease-out;
  }

  @keyframes back-move {
    from { transform: translate(700px, 0); }
    to { transform: translate(0, 0); }
  }

  .back-blue {
    animation: 1s back-move ease-in;
  }

  #fb-intro h3 {
    display: inline-block;
    margin: 20px 10px 40px;
  }

  #fb-intro svg {
    width: 100%;
    overflow: visible;
    margin: 40px 0;
  }

  #fb-competitive .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }

  #fb-inspiration .row,
  #fb-retrospective .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  #fb-competitive .col-lg-7 {
    width: 58%;
  }

  #fb-competitive .col-lg-5 {
    width: 42%;
  }

  #fb-competitive .margin-right-solo {
    margin-right: 60px;
  }

  #fb-competitive .margin-left-solo {
    margin-left: 60px;
  }

  #fb-wireframes .wireframes picture {
    margin: 0 12px;
  }

  .bottom-text {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  #fb-retrospective img {
    display: inline-block;
    max-width: 700px;
    margin-top: -20px;
    position: relative;
    bottom: -40px;
  }

  /* ------------ Bazaar ------------ */
  #bz-intro svg {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: -20px;
  }

  #bz-intro img {
    bottom: -49px;
    margin-bottom: 0;
  }

  #bz-process img {
    margin: 40px 0;
  }

  #bz-challenge .video {
    width: 65%;
    position: relative;
    left: 100px;
  }

  #bz-user-flow .col-lg-6 {
    width: 50%;
  }

  #bz-user-flow .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #bz-testing .col-lg-6 {
    width: 50%;
  }

  #bz-testing .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #bz-testing .iteration {
    bottom: -69px;
    margin-top: -90px;
  }

  #bz-style-guide .guide img {
    width: 80%;
  }

  #bz-retrospective .col-lg-6 {
    width: 50%;
  }

  #bz-retrospective .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #bz-retrospective img {
    width: 50%;
    left: 250px;
    margin-top: 40px;
  }

  #bz-retrospective .final-quote {
    margin-top: 60px;
    padding-right: 600px;
  }

  /* ------------ Pennywise ------------ */
  #pennywise .col-lg-6 {
    width: 50%;
  }

  #pw-intro img {
    width: 70%;
  }

  #pw-process .row,
  #pw-final-designs .row,
  #pw-retrospective .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  #pw-user-story .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  #pw-process img {
    padding: 60px 40px 0;
  }

  #pw-user-testing .row {
    margin-top: 40px;
  }

  #pw-user-testing .row .column {
    width: 25%;
  }

  #pw-user-testing img {
    width: 90%;
  }

  #pw-user-testing .caption {
    display: inline-block;
    text-align: center;
    width: 80%;
  }

  #pw-user-testing .second {
    margin-top: 80px;
  }

  #pw-user-testing .third {
    margin-top: 170px;
  }

  #pw-user-testing .fourth {
    margin-top: 230px;
  }

  #pw-final-designs .final {
    bottom: -49px;
    right: -140px;
  }

  #pw-retrospective img {
    margin: 80px 0;
    padding: 0 200px;
  }
}

/* ============================================================
                X-large devices (1440px or larger)
=============================================================== */
@media only screen and (min-width: 1440px) {
  #work .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #work .row .column {
    width: 30%;
    align-items: center;
    margin-bottom: 3em;
    text-align: center;
    justify-content: flex-start;
  }
}

/* buttons */
.button,
.button:visited {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 0;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #fa4c98;
  color: #fff;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #000;
  color: #fff;
}

.button.resume {
  background-color: transparent;
  color: #fa4c98;
  border: 2px solid #fa4c98;
}

.button.resume:hover,
.button.resume:focus,
.button.resume:active {
  background-color: #fa4c98;
  color: #fff;
}
