/*
Colors used:
Primary Color   (Yellow): #FFDB1F;
                (Blue): #009FFD;
                (Blue 2): #66D1FF;
                (Pink): #FA4C98;
Secondary Color (Purple): #471852;
                (Black): #000000;
*/
* {
  box-sizing: border-box;
}

/* typography */
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.7;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

/* images */
img {
  width: 100%;
}

/* hyperlink */
a,
a:visited {
  color: #009FFD;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FA4C98;
  text-decoration: underline;
}

a:active {
  color: #FA4C98;
}

/* Layout styling */
header {
  background-color: #FFFFFF;
  padding-bottom: 4px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 11px 17px 0px rgba(50, 50, 50, 0.49);
  z-index: 99;
  top: 0;
  transition: top 0.5s ease-in-out;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a,
nav>ul>li>a:visited {
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #FA4C98;
  font-weight: 700;
}

nav>ul>li>a:active {
  color: #FA4C98;
}

/* hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 18px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
  transition: 0.4s;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.nav-up {
top: -40px;
}

.logo {
  max-width: 160px;
  margin-top: 12px;
}

#header .logo a {
  padding: 0;
  margin: 0;
}

.section {
  padding: 20px 0;
}

.container {
  padding: 0 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
}

.phone {
  white-space: nowrap;
}

main {
  margin-top: 37.75px;
}

#back-up-button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #ffffff;
  opacity: 100%;
  color: #000000;
  border-radius: 5px;
  opacity: 70%;
  font-weight: 300;
  cursor: pointer;
  padding: 10px;
}

#back-up-button:hover {
  background-color: #000000;
  color: #ffffff;
}

#back-up-button a,
#back-up-button a:visited {
  color: #000000;
  font-weight: 700;
}
#back-up-button a:hover {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

/* footer */
footer {
  background-color: #000000;
  text-align: center;
  position: relative;
  width: 100%;
}
#contact {
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#contact h3,
#contact p {
  color: #ffffff;
  text-align: center;
}

#contact svg {
  display:inline-block;
  margin-left:10px;
  margin-right:10px;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}



/* index */

#hero {
  display: inline-block;
  background-color: #000000;
  width: 100%;
}
#hero h1,
#hero p {
  color: #ffffff;
}
#hero span {
  display: block;
  margin-top: 15px;
}

#work .row {
  padding-bottom: 20px;
}
#work img {
  display: inline-block;
  max-width: 300px;
}
#work h3 {
  margin-top: 2;
  margin-bottom: 0;
}
#work p {
  margin-top: 0;
  margin-bottom: 0;
}
#work svg {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* css animation */
@keyframes color-change {
  from {fill: #FA4C98;}
  to {fill: #009FFD;}
}
.eyelash {
  animation: 2s color-change infinite alternate linear;
}

@keyframes circle-small-move {
  from {transform: translate(11px,80px);}
  to {transform: translate(11px,-25px);}
}
.yellow-circle-back-small {
  animation: 400ms circle-small-move infinite alternate ease-out;
}

@keyframes circle-move-reverse {
  from {transform: translate(48px,25px);}
  to {transform: translate(-68px,25px);}
}
.yellow-circle-front {
  animation: 800ms circle-move-reverse infinite alternate ease-out;
}

/* about */
#about-me {
  padding-top: 20px;
}
#about-me h1 {
  text-align: center;
}
#about-me img {
  max-width: 250px;
  padding: 0 40px;
}

#about li::marker {
  color: #FA4C98;
}
#about h3:not(footer h3) {
  font-size: 1.2em;
  margin-left: 20px;
}
#about .container .profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
#about .container .header {
  padding-left: 0;
  margin-top: 20px;
}


/* flashback */
#flashback h1,
#flashback h2 {
  background: -webkit-linear-gradient(#FFDB1F, #FA4C98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#flashback h3:not(footer h3):not(#fb-intro h3) {
  background: -webkit-linear-gradient(#FA4C98, #66D1FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fb-intro svg {
  max-width: 200px;
  height: auto;
  overflow: visible;
  margin-bottom: 20px;
}

 /* animation */
@keyframes flash-move {
  from {transform: translate(-180px,0px);}
  to {transform: translate(0px,0px);}
}
.flash-pink {
  animation: 700ms flash-move ease-out;
}
@keyframes back-move {
  from {transform: translate(180px,0px);}
  to {transform: translate(0px,0px);}
}
.back-blue {
  animation: 700ms back-move ease-in;
}

#fb-intro {
  padding-top: 20px;
}
#fb-intro {
  text-align: center;
  background-color: #211C36;
  width: 100%;
}

#fb-intro img {
  display: inline-block;
  max-width: 500px;
  margin: 10px 0;
}

#fb-intro ul {
  list-style-type: none;
  padding: 0;
}
#fb-intro ul>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#fb-intro ul>li>a,
#fb-intro a:visited {
  text-transform: uppercase;
  font-weight: 700;
  color: #66D1FF;
}

#fb-intro ul>li>a:hover,
#fb-intro ul>li>a:focus {
  color: #FF71CB;
  text-decoration: none;
}
#fb-intro ul>li>a:active {
  color: #FF71CB;
  text-decoration: none;
}
#fb-intro h3 {
  margin: 10px;
}
#fb-intro .mockup img {
  display: inline-block;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 60px;
}

#fb-challenge {
  display: inline-block;
  width: 100%;
}

#fb-challenge a,
#fb-challenge a:visited,
#fb-final-designs a,
#fb-final-designs a:visited {
  color: #009FFD;
  text-decoration: none;
}

#fb-process {
  display: inline-block;
  background-color: #211C36;
  width: 100%;
}
#fb-process,
#fb-inspiration,
#fb-competitive,
#fb-retrospective p {
  color: #ffffff;
}
#fb-process img {
  max-width: 900px;
  margin: 20px 0;
}
#fb-process .row {
  display: inline-block;
  width: 100%;
}
#fb-competitive {
  display: inline-block;
  background-color: #211C36;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
#fb-competitive li {
  color: #ffffff;
}
#fb-competitive img {
  max-width: 900px;
  margin: 20px 0;
}

#fb-wireframes {
  display: inline-block;
  width: 100%;
}
#fb-wireframes img {
  display: inline-block;
}
#fb-wireframes .row .wireframes img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 90%;
}

#fb-inspiration {
  display: inline-block;
  background-color: #211C36;
  width: 100%;
}
#fb-inspiration img {
  display: inline-block;
  max-width: 900px;
  margin: 20px 0;
}
#fb-icons img {
  max-width: 700px;
}

#fb-final-designs {
  display: inline-block;
  width: 100%;
}
#fb-final-designs img {
  display: inline-block;
  max-width: 700px;
  margin-bottom: 20px;
}
#fb-final-designs .fb-mockups {
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

#fb-retrospective {
  display: inline-block;
  background-color: #211C36;
  width: 100%;
  padding-top: 20px;
}
#fb-retrospective img {
  display: inline-block;
  max-width: 700px;
  margin-top: -20px;
  position: relative;
  bottom: -30px;
}

.center {
  display: inline-grid;
}

/* bazaar */
#bazaar nav>ul>li>a:hover,
#bazaar a:focus {
  color: #FDCA40;
}

#bazaar nav>ul>li>a:active {
  color: #FDCA40;
}

/* animation */
@keyframes heart-move {
  from {transform: translate(0px,130px);}
  to {transform: translate(0px,0px);}
}
.heart {
  animation: 1s heart-move ease-in;
}

#bz-intro .container {
  text-align: center;
}

#bz-intro svg {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: -20px;
}

#bz-intro img {
  position: relative;
  bottom: -53px;
  margin-bottom: 0;
}

#bz-menu {
  display: inline-block;
  text-align: center;
  background-color: #FDCA40;
  width: 100%;
}
#bz-menu ul {
  list-style-type: none;
  padding: 0;
}
#bz-menu ul>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#bz-menu ul>li>a,
#bz-menu a:visited {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

#bz-menu ul>li>a:hover,
#bz-menu ul>li>a:focus,
#bz-menu ul>li>a:active {
  color: #ffffff;
  text-decoration: none;
}
#bz-menu ul>li>a:active {
  color: #ffffff;
}
#bz-menu h3 {
  margin: 12px;
}

#bz-challenge a,
#bz-challenge a:visited,
#bz-final-designs a,
#bz-final-designs a:visited {
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: underline;
}

#bz-challenge img,
#bz-user-flow img,
#bz-native img,
#bz-testing img {
  margin: 20px 0;
}

#bz-process {
  background-color: #FDCA40;
  width: 100%;
}

#bz-testing {
  background-color: #FDCA40;
  width: 100%;
}

#bz-testing .iteration {
  position: relative;
  bottom: -73px;
  margin-top: -60px;
}

#bz-final-designs {
  background-color: #FDCA40;
  width: 100%;
}

#bz-final-designs img {
  display: inline-block;
  max-width: 700px;
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 40px;
}

#bz-retrospective img {
  margin-top: 20px;
}

#bazaar #contact a,
#bazaar #contact a:visited {
    color: #FDCA40;
    text-decoration: none;
  }

#bazaar #contact a:hover,
#bazaar #contact a:focus {
    color: #FA4C98;
    text-decoration: underline;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

main {
  margin-top: 57px;
}

body {
    font-size: 18px;
}
h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

nav {
 width: auto;
}

nav>ul>li {
  display: inline-block;
  margin-bottom: 4px;
  min-width: 112px;
}
nav>ul>li>a,
a:visited {
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.nav-up {
top: -100px;
}

.section {
  padding: 20px 0;
}

.container {
  padding: 0 30px;
}

header {
  padding-top: 15px;
  padding-bottom: 8px;
}
header .navtoggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 250px;
  margin-top: 0px;
}

#back-up-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  font-weight: 300;
  cursor: pointer;
  padding: 10px;
}

#back-up-button:hover {
  background-color: #000000;
  color: #ffffff;
}

/* index */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* about */

#about h3:not(#contact h3) {
  margin-top: 0;
}

#about-me img {
  max-width: 300px;
  padding: 0px;
}
.profile-pic {
  text-align: center;
  padding-top: 40px;
}

#about .col-md-12 {
  width: 100%;
}

#about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

#about .row .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#about .skills .col-md-12 {
  margin-right: 60px;
}

/* flashback */
#fb-intro {
  padding-top: 20px;
}

/* animation */
@keyframes flash-move {
 from {transform: translate(-300px,0px);}
 to {transform: translate(0px,0px);}
}
.flash-pink {
 animation: 700ms flash-move ease-out;
}
@keyframes back-move {
 from {transform: translate(300px,0px);}
 to {transform: translate(0px,0px);}
}
.back-blue {
 animation: 700ms back-move ease-in;
}

#fb-intro .row {
  display: inline-block;
  text-align: center;
}

#fb-intro svg {
  max-width: 400px;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 40px;
}

#fb-intro img {
  margin-bottom: 40px;
}
#fb-intro ul>li {
  display: inline-block;
}
#fb-intro h3 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#fb-challenge .row {
  align-items: center;
}

#fb-competitive .row,
#fb-inspiration .row,
#fb-retrospective .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#fb-wireframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#fb-wireframes .wireframes picture {
  margin: 0 9px;
}

#fb-retrospective img {
  display: inline-block;
  max-width: 700px;
  margin-top: -20px;
  position: relative;
  bottom: -40px;
}

/* bazaar */

#bz-intro svg {
  width: 100%;
  max-width: 160px;
  height: auto;
  margin-bottom: -20px;
}

#bz-intro img {
  position: relative;
  bottom: -54px;
  right: -30px;
  margin-bottom: 0;
}

#bz-menu ul>li {
  display: inline-block;
}

#bz-process img{
  margin: 20px 0;
}

#bz-challenge .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

#bazaar [class*="col-"] {
  padding: 0;
}

#bz-user-flow .col-md-12 {
  width: 100%;
}

#bz-user-flow .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

#bz-native .native {
  position: relative;
  right: -15px;
}

#bz-user-flow .col-md-12 {
  width: 100%;
}

#bz-testing .col-md-12 {
  width: 100%;
}
#bz-testing .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
#bz-testing .iteration {
  position: relative;
  bottom: -74px;
  margin-top: -90px;
}

#bz-style-guide .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bz-retrospective .col-md-12 {
  width: 100%;
}
#bz-retrospective .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

#bz-retrospective img {
  width: 70%;
  position: relative;
  left: 90px;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
main {
  margin-top: 57px
}


.section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited {
  color: #009FFD;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #FA4C98;
  text-decoration: underline;
}

.logo {
  max-width: 250px;
}

nav>ul>li>a,
a:visited {
  padding: 0px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

/* nav animation */
header div.container a {
    text-decoration: none;
    color: #000000;
    margin: 0px 5px;
    padding: 2px 6px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navigation a:before, .navigation a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #000000;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navigation a:before
{
    top: 0px;
    transform: translateX(-30px);
}

.navigation a:after
{
    bottom: 0px;
    transform: translateX(30px);
}

.navigation a:hover:before, .navigation a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}

/* index */


#hero p {
  margin-bottom: 40px;
}

#work picture, #work .svg-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  justify-content: flex-end;
  margin-right: 2em;
}

/* about */
#about-me h1 {
  margin-top: 80px;
}

#about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#about .row .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 0;
}

#about .header h2 {
  margin-bottom: 9px;
  margin-left: 38px;
}

#about .container .header {
  margin-top: 0;
  margin-left: 60px;
}

#about .col-lg-7 {
  width: 58%;
}

#about .col-lg-5 {
  width: 42%;
}


/* flashback */
/* animation */
@keyframes flash-move {
 from {transform: translate(-700px,0px);}
 to {transform: translate(0px,0px);}
}
.flash-pink {
 animation: 1s flash-move ease-out;
}
@keyframes back-move {
 from {transform: translate(700px,0px);}
 to {transform: translate(0px,0px);}
}
.back-blue {
 animation: 1s back-move ease-in;
}

#fb-intro h3 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#fb-intro svg {
  width: 100%;
  overflow: visible;
  margin: 40px 0;
}

#fb-competitive .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

#fb-inspiration .row,
#fb-retrospective .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

#fb-competitive .col-lg-7 {
  width: 58%;
}
#fb-competitive .col-lg-5 {
  width: 42%;
}
#fb-competitive .margin-right {
  margin-right: 60px;
}
#fb-competitive .margin-left {
  margin-left: 60px;
}

#fb-wireframes .wireframes picture {
  margin: 0 12px;
}

.bottom-text {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* bazaar */
#bazaar nav>ul>li>a:hover,
#bazaar a:focus {
  color: #FDCA40;
}

#bazaar nav>ul>li>a:active {
  color: #FDCA40;
}

#bz-intro svg {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: -20px;
}
#bz-intro img {
  bottom: -74px;
  margin-bottom: 0;
}

#bz-process img{
  margin: 40px 0;
}

#bz-challenge .video {
  width:65%;
  position: relative;
  left: 100px;
}


#bz-user-flow .col-lg-6 {
  width: 50%;
}
#bz-user-flow .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#bz-native .margin-right {
  margin-right: 30px;
}
#bz-native .margin-left {
  margin-left: 30px;
}

#bz-testing .col-lg-6 {
  width: 50%;
}
#bz-testing .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#bz-testing .margin-right {
  margin-right: 30px;
}
#bz-testing .iteration {
  bottom: -94px;
  margin-top: -90px;
}

#bz-retrospective .col-lg-6 {
  width: 50%;
}
#bz-retrospective .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#bz-retrospective img {
  width: 50%;
  left: 250px;
  margin-top: 40px;
}
#bz-retrospective .margin-right {
  margin-right: 30px;
}
#bz-retrospective .margin-left {
  margin-left: 30px;
}
#bz-retrospective .final-quote {
  margin-top: 60px;
  padding-right: 600px;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* buttons */
.button,
.button:visited {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 8px 0;
  border-radius: 0px;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #FA4C98;
  color: #ffffff;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #009FFD;
  text-transform: uppercase;
  border: 1px solid #009FFD;
  margin-top: 0;
  margin-bottom: 20px;
}

.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #009FFD;
  color: #000000;
}

#bazaar #contact .button.contact {
  background-color: transparent;
  color: #FDCA40;
  text-transform: uppercase;
  border: 1px solid #FDCA40;
  margin-top: 0;
  margin-bottom: 20px;
}

#bazaar #contact .button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #FDCA40;
  color: #000000;
}

.button.resume {
  background-color: transparent;
  color: #FA4C98;
  border: 2px solid #FA4C98;
}

.button.resume:hover,
.button.resume:focus,
.button.resume:active {
  background-color: #FA4C98;
  color: #ffffff;
}
